.formBlock{
	&__about{
		color: #333333;
		font-family: @font-family-opensans;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;

		&.m--formBlock__about-paddingBottom{
			padding-bottom: 5px;
		}
	}

	&__subHeader{
		color: #000000;
		font-family:  @font-family-opensans;
		font-size: 24px;
		font-weight: 700;
		line-height: 20px;
	}

	&__footNote{
		color: #666666;
		font-family:  @font-family-opensans;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
	}
}



.form{
	&__inputElementGroup{
		margin-top: 15px;
		display: flex;
		justify-content: space-between;
		width: ~"calc(100% - 25px)";
		
		.form__inputErrorMessage{
			
			bottom: 4px;
			
			}
	}

	&__inputElementWrapper{
		position: relative;
		width: ~"calc(100% - 25px)";
		&.m--form__inputElementWrapper-withRightMargin{
			margin-right: 30px;
		}
	}

	&__inputElement {
		width: 100%;
	    position: relative;
	    overflow: hidden;
	   
	    height: 60px;
	    margin-bottom: 20px;
	    border: 3px solid #eaeaea;
		background-color: #ffffff;

		&.m--form__inputElement-withRightMargin{
			margin-right: 30px;
		}

		&.m--form__inputElement__notWide{
		
		
			
		}

		
	}


	&__inputErrorMessage{
		color: #db4433;
		font-family: @font-family-opensans;
		font-size: 12px;
		font-weight: 400;
		
		position: absolute;
		bottom: -17px;
		z-index: 999;

		&.m--inputErrorMessage-isShowned{
			display: block;
		}
	}

	&__inputErrorIcon{
		position: absolute;
		right: -27px;
		z-index: 999;
		top: 30%;
		bottom: 50%;
	}

	&__inputSuccessIcon{
		position: absolute;
		right: -27px;
		z-index: 999;
		top: 30%;
		bottom: 50%;
	}

	&__inputField {
	    width: calc(100% - 5px);
	    height: 100%;
	    padding: 10px 0 0 25px;
	    position: absolute;
	    bottom: 0;
	    border: none;
	   color: #333333;
		font-family: @font-family-opensans;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	    border-radius: 0;
	}

	&__inputLabel {
	    position: absolute;
	    top: 50%;
	    padding-left: 25px;
	    pointer-events: none;
	    color: #adadad;
		font-family: @font-family-opensans;
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
	    cursor: text;
	    transform: translateY(-50%);
	    transition: transform .2s ease-out,top .2s ease-out,font-size .2s ease-out;
	}
}



@media (max-width: 500px){

	.form{
		&__inputElementGroup{
			margin-top: 15px;
			
			
			flex-direction: column;
			width: 100%;
			
			
		}

		&__inputElement {
			width: ~"calc(100% - 25px)";
		    position: relative;
		    overflow: hidden;
		   
		    height: 60px;
		    margin-bottom: 20px;
		    border: 3px solid #eaeaea;
			background-color: #ffffff;

			&.m--form__inputElement-withRightMargin{
				margin-right: 0px;
			}

			&.m--form__inputElement__notWide{
				
			
				
			}

			
		}

		&__inputField {
		    width: calc(100% - 5px);
		    height: 100%;
		    padding: 10px 0 0 25px;
		    position: absolute;
		    bottom: 0;
		    border: none;
		   color: #333333;
			font-family: @font-family-opensans;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
		    border-radius: 0;
		}

		&__inputLabel {
		    position: absolute;
		    top: 50%;
		    padding-left: 25px;
		    pointer-events: none;
		    color: #adadad;
			font-family: @font-family-opensans;
			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
		    cursor: text;
		    transform: translateY(-50%);
		    transition: transform .2s ease-out,top .2s ease-out,font-size .2s ease-out;
		}

		&__inputErrorIcon{
			
			right: -7px;
			
			
		}

		&__inputSuccessIcon{
			
			right: -7px;
			
		}
	}


}


@media (max-width: 550px){
	.formBlock{
		&__about{
			

			&.m--formBlock__about-paddingBottom{
			
			}
		}

		&__subHeader{
			
			font-size: 20px;
			
		}
	}
}